<footer class="site-footer h-card">
  <data href="{{ "/" | relative_url }}"></data>
  <div class="wrapper">
    <div class="footer-col-wrapper">
      <div class="footer-col">
        <h2 class="footer-heading">{{ site.title | escape }}</h2>
        <p>{{- site.description | escape -}}</p>
        {%- include social.html -%}

        {%- if site.email -%}
          <p><center><a class="grey" href="mailto:{{ site.email }}">{{ site.email }}</a></center></p>
        {%- endif -%}

        {%- if site.copyright -%}
          {% assign year_string = site.time | date: '%Y' %}
          <center><small>
            {{ site.copyright | markdownify | replace:'<!--copyyears-->',year_string | replace:'<!--author-->',site.author | replace:'<p>','' | replace:'</p>','' }}
          </small></center>
        {%- endif -%}
        
      </div>
    </div>
  </div>
</footer>
