<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>
  <div class="wrapper">
    <div class="footer-col-wrapper">
      <div class="footer-col">
        <h2 class="footer-heading">{{ site.title | escape }}</h2>
        <p>{{- site.description | escape -}}</p>
        {%- include social.html -%}

        {%- if site.email -%}
          <p><center><a class="u-email grey" href="mailto:{{ site.email }}">{{ site.email }}</a></center></p>
        {%- endif -%}

        {%- if site.copyright -%}
          {% assign year_from = site.posts[-1].date | date: '%Y' %}
          {% assign year_to   = site.time | date: '%Y' %}
          {% if year_from == nil or year_from == year_to %}
            {% assign year_string = year_to %}
          {% else %}
            {% assign year_string = year_from | append: '&nbsp;' | append: '-' | append: '&nbsp;' | append: year_to %}
          {% endif %}
          <center><small class="copyright">{{ site.copyright | markdownify | replace:'<!--copyyears-->',year_string | replace:'<!--author-->',site.author | replace:'<p>','' | replace:'</p>','' }}</small></center>
        {%- elsif site.author -%}
          {{ site.author | escape }}
        {%- endif -%}
      </div>
    </div>
  </div>
</footer>
