<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>
  <div class="wrapper">
    <div class="footer-col-wrapper">
      <h2 class="footer-heading">{{ site.title | escape }}</h2>
    </div>
    <div class="footer-col-wrapper">
      <p class="footer-col">
        Anything about technology, and so on.<br />
        一个科技杂货铺，啥都往里堆。
      </p>
      <p class="footer-col">
        <a href="mailto:{{ site.author.email }}">{{ site.author.email }}</a><br />
        <a href="https://github.com/TellyLab">GitHub.com/TellyLab</a><br />
        <a href="feed.xml">Atom (RSS-like) Feed</a>
      </p>
    </div>
  </div>
  <center class="social-links"><small>
    Copyright © {{ site.time | date: '%Y' }} {{ site.author.name }}
  </small></center>
</footer>
